/* pagestyle.css */
/* Author: Tanvir Khan */
/* Date Created: December 17, 2021 */
/* Date Modified: */

body {
    /* BODY SECTION */
    /* Specify the margin. Source: https://www.w3schools.com/css/css_margin.asp */
    margin: 0;
    /* Specify the font. Source: https://www.w3schools.com/cssref/pr_font_font-family.asp */
    font-family: Arial, Verdana, sans-serif;
    /* Specify the letter spacing between characters. Source: https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    letter-spacing: 1px;
    position:relative;
    min-height:100vh;
}

main{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; 
    margin-bottom: 50px;
    padding-bottom:2.5rm;
}

h1{
	color: rgb(0, 102, 102);
	text-align: center;
        font-weight: bold;
	font-size: 200%
}
h2{
	color: rgb(134, 45, 89);
	text-align: center;
        font-weight: bold;
	font-size: 150%
}

h3{
	color: rgb(89,89,89);
	text-align: center;
        font-weight: bold;
	font-size: 120%
}

h4{
	color: rgb(89,89,89);
	text-align: center;
	font-size: 80%
}

p{
	font-family: Arial, Verdana, sans-serif;
        color: rgb(68,59,64);
        font-weight: italic;
        text-align: center;
	font-size: 90%;
        line-height: 1.5;
}
.centertext {
    text-align:center;
}

.centerPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	max-width: 200px;
    padding: 10px;
}
#logo {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
    height: auto;
    max-width: 800px;
    padding: 10px;
}

a:link, a:visited {
    color: white;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
  }
.projectlink {
    color:rgb(26, 26, 26);
    background-color: rgb(204, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }

img{
    border-radius: 12%;
}


img.qualification{
    display: block;
    width:100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding-bottom: 40px;
}


